html * {
    font-family: Arial, Helvetica, sans-serif ;
}
form {
    text-align: center;
}
.formBox {
    border-style: solid;
    width: 325px;
    height: 250px;
    font-size:large
    
}

.formHeader {
    text-align: center;
}
.formInfo {
    padding:10px
}
label{
  margin:10px;
}
.lastname{
    margin:5px;
}
.submit {
    margin: 20px auto;
    padding: 0px 100px;
    display: block;
 
}