html, 
body,
h1,
h2,
h3,
p,
ol,
ul,
li,
a {
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: Arial;
    background-image: url(Images/space.jpg);
}

header ul {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px 0px 10px 0px
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.blog {
    font-size: xxx-large;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-weight: bold;
    height: 115px;
}

.thoughts {
    font-size: large;
    text-align: center;
    padding-top: 48px;
    color: white;
    font-weight: bold;
    height: fit-content;
}

.navigation {
    list-style-type: none;
    font-size: x-large;
}
